doctype html
html
  head
    meta(charset='utf-8')
    title Farfor Events
    meta(name='description', content='Event Logistics and Coordination Services')
    meta(name='viewport', content='width=device-width')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@hudak_jonathan')
    meta(name='twitter:creator', content='@farforevents')
    meta(name='twitter:title', content='Farfor Events')
    meta(name='twitter:description', content='Event Logistics and Coordination Services')
    meta(name='twitter:image', content='http://farforevents.com/images/erin/setting.jpg')
    meta(property='og:url', content='http://farforevents.com')
    meta(property='og:title', content='Farfor Events')
    meta(property='og:description', content='Event Logistics and Coordination Services')
    meta(property='og:image', content='http://farforevents.com/images/erin/setting.jpg')
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet")
    link(rel='icon' type='image/png' href='/images/favicon.png')
    if ENV === 'prod'
      link(rel='stylesheet', href='main.css', media='screen')

  body
    .heading
      img.logo(src='./images/logo.png' alt='FarFor Events')
      h1 Event Logistics and Coordination Services
      h3 — Selection of work —


    include ./content.pug

    footer.footer
      div: img.logo.logo__small(src='./images/logo.png' alt='FarFor Events')
      div
        strong Seattle, WA
        br
        a.button(href='mailto:far4events@gmail.com') Inquiries
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src='/main.js')
