.project-heading
  .preload-photo(style='background-image: url(/images/afar/afar.jpg)', data-background='/images/afar/afar.jpg')
  .project-heading__content
    h2 Afar Experience: Seattle

.project-details
  ul
    li
      strong Client:&nbsp;
      | AFAR media
    li
      strong Location:&nbsp;
      | Seattle
    li
      strong Project Links:&nbsp;
      div: a(href='https://afarexperiences.com/past-experiences/seattle') AFAR Seattle Site
      div: a(href='https://www.flickr.com/photos/afarexperiences/sets/72157642567388214/with/13253424774/') Event photos on Flickr

  .project-description
    p.lead A curated three day travel experience in Seattle for a group of 50 savvy world travelers.
    p: strong Some of the activities included:
    ul
      li: p A private dinner at Pike Place Market featuring food by chef Renee Erickson and cocktails by Sun Liquor and bites by local purveyors
      li: p Private tours of local artist studios and private art collectors homes
      li: p Private tour of Sub Pop Records hosted by Megan Jasper
      li: p Afternoon visit to residence at the top of the Smith Tower
      li: p Popup shopping experience curated by Laura Cassidy in Capitol Hill

.project-video
  .embed-container: iframe(src='https://player.vimeo.com/video/96779521', frameborder='0', webkitAllowFullScreen='true', mozallowfullscreen ='true' allowFullScreen='true')
