.project-heading
  .preload-photo(style='background-image: url(/images/erin/setting.jpg)', data-background='/images/erin/setting.jpg')
  .project-heading__content
    h2 Orcas Island Woodland Wedding

.project-details
  ul
    li
      strong Location:&nbsp;
      a(href='http://www.turtleheadfarm.com/') Turtlehead Farm (Orcas Island)
    li
      strong Logistics and coordination:&nbsp;
      | farfor events
    li
      strong Photography:&nbsp;
      a(href='http://www.belathee.com/') Belathée Photography
    li
      strong Caterer:&nbsp;
      a(href='http://www.hogstone.com/') Hogstone’s Wood Oven
    li
      strong Live Music:&nbsp;
      a(href='http://www.preservationhalljazzband.com/') Preservation Hall Brass Band DJs: Amateur Hour
    li
      strong Event Design and Florals:&nbsp;
      a(href='http://www.circanineteensixtynine.com/p/cjp.html') CJP & Co

  .project-description
    p.lead An early Fall wedding at the top of Turtleback Mountain on Orcas Island featuring the Preservation Hall Brass Band.
    p
      strong Details unique to the project:
      ul
        li: p Location scouting
        li: p Transporting guests and vendors to a remote island (Orcas) and up to the top of a mountain (for the ceremony)
        li: p seamlessly transferring guests to a different remote location on the property (for the reception)
        li: p Electricity and luxury washrooms in the middle of the woods
        li: p Negotiating a contract with a world renowned band and creating their transportation and accommodation “road map”.
        li: p Pig roast in the woods
        
.project-photos
  .photo: img.preload-photo(title='Belathée Photography' src='/images/erin/ceremony.jpg', data-background='/images/erin/ceremony.jpg')
  .photo: img.preload-photo(title='Belathée Photography' src='/images/erin/dining-setup.jpg', data-background='/images/erin/dining-setup.jpg')
  .photo.col
    img.preload-photo(title='Belathée Photography' src='/images/erin/band.jpg', data-background='/images/erin/band.jpg')
    .photo-divider
    img.preload-photo(title='Belathée Photography' src='/images/erin/lake.jpg', data-background='/images/erin/lake.jpg')
