.project-heading
  .preload-photo(style='background-image: url(/images/tarab/tarab.jpg)', data-background='/images/tarab/tarab.jpg')
  .project-heading__content
    h2 Tarab for Syria
.project-details
  ul
    li
      strong Client:&nbsp;
      | Mamnoon Restaurant
    li
      strong Location:&nbsp;
      | South Lake Union, Seattle
      br
      | Rooftop of 400 Fairview
    li
      strong Photography
      a(href='http://vanderwe.it') Jonathan Vanderweit

  .project-description
    p.lead A outdoor rooftop fundraiser for Syrian refugees
    p I sought out donations from local businesses and makers and designed the look and the feel for the event. The private dinner featured tabletop installation by Flourish, coursed dinner by Chef Jason Stratton, and signature cocktails designed by mbar.
    p
      strong Details unique to this project:
      | Executed planning and coordination in 2 weeks.
.project-photos
  .photo: img.preload-photo(title='Photo credit: Jonathan Vanderweit' src='/images/tarab/photo1.jpg', data-background='/images/tarab/photo1.jpg')
  .photo: img.preload-photo(title='Photo credit: Jonathan Vanderweit' src='/images/tarab/photo2.jpg', data-background='/images/tarab/photo2.jpg')
  .photo.col
    img.preload-photo(title='Photo credit: Jonathan Vanderweit' src='/images/tarab/photo3.jpg', data-background='/images/tarab/photo3.jpg')
    .photo-divider
    img.preload-photo(title='Photo credit: Jonathan Vanderweit' src='/images/tarab/photo5.jpg', data-background='/images/tarab/photo5.jpg')
